@import url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css');
@import "tailwindcss";


html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root{
  --bottom-nav-h: 72px;
}
@media (min-width: 640px){
  :root{ --bottom-nav-h: 0px; }
}

.no-scrollbar::-webkit-scrollbar{ display:none }
.no-scrollbar{ -ms-overflow-style:none; scrollbar-width:none }

/* make color variables for the website from palette by Masoud */
:root{
  --primary-color: #000;
  --primary-color-light: #111111de;
  --secondary-color: #FFF;
  --tertiary-color: #E6E4B2;
  --quaternary-color: #FA6320;
  --quinary-color: #771818;
  
}
