@import url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css');
@import "tailwindcss";


@theme {
  --font-vazir : "vazir", "sans-serif";
}

/* make color variables for the website from palette by Masoud */
:root{
  --primary-color: #000;
  --primary-color-light: #1d1d1dde;
  --secondary-color: #FFF;
  --tertiary-color: #E6E4B2;
  --quaternary-color: #FA6320;
  --quinary-color: #771818;
}
